* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 30px;
  font-size: 19px;
}
main{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.img-product {
  width: 100%;
}

.star {
  width: 10%;
}
.card-container{
  margin: 20px;
 
}

.card-container-img {
  position: relative;
  display: flex;
  margin: 40px auto 10px 0;

}

.info-container {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.info-container h4,
h5,
p {
  margin: 5px 0 0 0;
}

.info-container h5 {
  font-size: 20px;
  color: rgb(81, 81, 81);
}

.discount {
  margin-right: 12px;
  color: rgb(202, 34, 205);
}

.new {
  position: absolute;
  display: flex;
  align-items: center;
  top: -35px;
  color: rgb(45, 226, 48);
  font-size: 20px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-direction: column;
  margin-bottom: 30px;
}

.header-container img {
  height: 120px;
}
.header-container h3{
  color: rgb(141, 141, 141);
}
.product-container{
  display: flex;
  flex-direction: column;
  
}

@media(min-width: 768px){
  .product-container {
      display: flex;
      flex-direction: row;
  }
}

body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe
UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
'Helvetica Neue', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing:
grayscale; } code { font-family: source-code-pro, Menlo, Monaco, Consolas,
'Courier New', monospace; } 
      
* { margin: 0; font-family: Arial, Helvetica, sans-serif; } body { padding:
30px; font-size: 19px; } main{ display: grid; grid-template-columns: auto
auto auto; gap: 20px; } .img-product { width: 100%; } .star { width: 10%;
} .card-container{ margin: 20px; } .card-container-img { position: relative;
display: flex; margin: 40px auto 10px 0; } .info-container { position:
relative; justify-content: center; display: flex; flex-direction: column;
} .info-container h4, h5, p { margin: 5px 0 0 0; } .info-container h5 {
font-size: 20px; color: rgb(81, 81, 81); } .discount { margin-right: 12px;
color: rgb(202, 34, 205); } .new { position: absolute; display: flex; align-items:
center; top: -35px; color: rgb(45, 226, 48); font-size: 20px; } .header-container
{ display: flex; justify-content: center; align-items: center; height:
100px; flex-direction: column; margin-bottom: 30px; } .header-container
img { height: 120px; } .header-container h3{ color: rgb(141, 141, 141);
} .product-container{ display: flex; flex-direction: column; } @media(min-width:
768px){ .product-container { display: flex; flex-direction: row; } }

.img-product { width: 100%; } .star { width: 10%; color:yellow; } .card{
position: relative; } .card-container-img { position: relative; display:
flex; margin: 40px auto 10px 0; } .info-container { position: relative;
justify-content: center; display: flex; flex-direction: column; } .info-container
h4,h5,p { margin: 5px 0 0 0; } .info-container h5 { font-size: 20px; color:
rgb(81, 81, 81); } .discount { margin-right: 12px; color: rgb(202, 34,
205); } .new { position: absolute; align-items: center; top: 30px; left:
10px; color: rgb(45, 226, 48); font-size: 20px; } h2{ font-size: 1.1rem;
}