footer{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 0;
}
site-footer{
    text-decoration: solid;
    margin-top: auto;
}
.container p{
    color: white;
    display: flex;
    justify-content: center;
}