body{
    display: flex;
    justify-content: center;
    padding: 0 0;
    font-family: 'Poppins';
}
nav{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
#page{
    width: 100%;
}


