.header {
background: #808080;
padding: 20px;
text-align: center;
}
.news-titulo{
    color: #f4f4f4;
}
.news-desc{
    color: #f4f4f4;
}
h2 {
margin: 0;
font-size: 18px;
font-weight: bold;
color: #656565;
}
p {
color: #555;
font-size: 14px;
line-height: 1.5;
}

.section{
    margin-bottom: 5;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: solid;
    width: 50%;
}
.section img{
    margin-bottom: 1rem;
    margin: auto; 
    width: 50%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}
.section h2{
    margin-top: 2rem;
    margin: auto; 
    display: flex;
    justify-content: center;
}
.section p{
    margin: auto; 
    display: flex;
    justify-content: center;
}
.status{
    text-align: center;
    font-size: large;
}
.envia{
    justify-content: center;
    color: white;
    display: flex;
    padding: 10px 18px;
    border: 1px solid #000000;
    background: linear-gradient(to right, #4a6cf7, #db3b3b);
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    margin-bottom: 10px;
}
.btn {
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto; 
    padding: 10px 18px;
    border: 1px solid #000000;
    color: #000000;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
