.contacto-section{
    padding: 1rem;
    background-color: rgb(156, 156, 156);
}
.input{
    margin-left: 10px;
    height: 20px;
    width: auto;
}
.titulo{
    display: flex;
    justify-content: center;
}
.contact.form{
    display: flex;
    justify-content: center;
}
.name{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.email{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.mensaje{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.boton{
    justify-content: center;
    display: flex;    
}
.envia{
    justify-content: center;
    display: flex;
    padding: 10px 18px;
    border: 1px solid #000000;
    color: #000000;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    margin-top: 10px;
}