body{
    height: auto;
    margin: auto;
    flex-direction: column; /* Para apilar las secciones verticalmente */
    font-family: 'Poppins';
    background-color: rgb(199, 199, 197);
}
header{
    background-color: rgb(34, 32, 36);
}
.contenedorItems{
    display: flex;
    padding: 2rem;
    margin: 0;
    justify-content: center;
}

.btn-nav {
    margin: auto;
    padding: 10px 18px;
    border: 1px solid #d2d2d2;
    color: #000000;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
}
